


{% extends "base2.html" %}



{% block content %}




<div class="container">
  <div class="jumbotron">
    <div class="home-page">
      <h1>Welcome to PricePointPro</h1>
      <p>Your ultimate destination for property price evaluation.</p>
      <div class="cta-container">
        <a href="#" class="cta-button">Get Started</a>
      </div>
      <div class="features-container">
        <div class="feature">
          <img src="static/p.jpeg" alt="feature 1">
          
          <img src="static/p.jpeg" alt="image">
          <h3>Accurate Property Value</h3>
          <p>Our team of experts has worked tirelessly to create a highly accurate algorithm that takes into account various factors such as local market trends, property history, and comparable sales.</p>
        </div>
        <div class="feature">
          <img src="static/p.jpeg" alt="feature 2">
          <h3>User-Friendly Interface</h3>
          <p>Our user-friendly interface makes it easy for anyone to use our service, whether you're a first-time homebuyer, a seasoned real estate investor, or a property professional.</p>
        </div>
        <div class="feature">
          <img src="static/p.jpeg" alt="feature 3">
          <h3>Up-to-Date Information</h3>
          <p>We pride ourselves on providing our users with the most up-to-date and accurate information possible. Our database is constantly updated to reflect the latest market trends and changes.</p>
        </div>
      </div>
      <div class="testimonials-container">
        <div class="testimonial">
          <img src="testimonial-1.png" alt="testimonial 1">
          <p>"PricePointPro helped me determine the true value of my property, and I was able to sell it for a fair price."</p>
          <p class="author">- John Doe</p>
        </div>
        <div class="testimonial">
          <img src="testimonial-2.png" alt="testimonial 2">
          <p>"I was able to make an informed decision about the property I wanted to buy, thanks to PricePointPro."</p>
          <p class="author">- Jane Smith</p>
        </div>
      </div>
    </div>  
</div>




{% endblock %}